
/* Header Styles Begin */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.video-wrapper {
    background-color: black;
}

.video {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: black;
}

.header-wrapper {
    background-color: black;
}

.navigation {
    background-color: black;
    margin: 0px;
    padding: 0px;
}

.nav-links-header {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 1rem 10% 1rem 10%;
    
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.nav-links-header a {
    text-decoration: none;
    color: white;
}


.nav-links-header a:hover {
    color: #A3B2BF;
}

.grey-dash {
    color: white;
}

.spacer {
    width: 20%;
}

.login-link {
    justify-content: flex-end;
   
}

.issue-of-the-day-margin {
    background-color: #365B73; 
}

.issue-of-the-day-wrapper {
    margin: 0 8%;
    padding: 0 2%;
    
}

.issue-of-the-day {
    color: white;
    
}

.the-process-margin {
    background-color: #1A3540;
}

.the-process-wrapper {
    margin: 0% 8%;
    padding: 0 2%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.the-process {    
}

.the-process-text {
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
}

.box span {
    color: white;
}

.process-container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 40rem;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px #1A3540;
  line-height: 0;
}

.box > img {
  width: 100%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 40rem;
  line-height: 2.6;

}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 80%;
  border-radius: 10%;
}
 

.next-week-issues-margin {
    background-color: #A3B2BF;
}

.next-week-issues-wrapper {
    margin: 0 8%;
    padding: 0 2%;
}

.next-week-issues {
    
}

ul {
    margin: 0%;
}

.stats-margin {
    background-color: #0D0D0D;
}

.stats-wrapper {
    margin: 0 8%;
    padding: 1.5rem 2% 1.5rem;
}

.stats {
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    padding-top: 1rem;
    color: white;
    font-weight: 600;
    padding-bottom: 1rem;
}

.stats-image-row {
    display: flex;
    max-height: 100%;
    height: 70%;
    
    
}

.stats-image-row div img {
    justify-content: space-around;
    border-radius: 10%;
}

.a {width: 180%;
    max-width: 180%;
    margin-right: 20%;
    margin-left: 39%;
}

.b {width: 100%;
    max-width: 35%;
    margin-left: 65%;
}

.c {width: 100%;
    max-width: 50%;
    margin-left: 35%;
}

.stats-numbers {
    display: flex;
    justify-content: space-around;
    font-weight: 400;
    font-size: x-large;
    color: white;
}

.user-map-margin {
    background-color: #B9CBD9;
}

.user-map-wrapper {
    margin: 0 8%;
    padding: 0 2%;
    height: 50rem;
}

.user-map {
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem 0 1rem;
    font-family: 'Montserrat', sans-serif;   
}

.map {
    align-content: center;
    margin: 0 0 0 0;
    padding: 0 0 1rem;
    justify-content: center;
    height: 20rem;
      
}

.past-projects-margin {
    background-color: #1A3540;
}

.past-projects-wrapper {
    margin: 0 8%;
    padding: 0 2%;
}

.past-projects {
    
}

.suggest-margin {
    background-color: #728EA6;
}

.suggest-wrapper {
    margin: 0 8%;
    padding: 0 2%;
}

.suggest {
    
}

footer {
    background-color: #0D0D0D;
    font-family: 'Montserrat', sans-serif;

}

.footer-wrapper {
    margin: 0 8%;
    padding: 0 2%;
    background-color: #0D0D0D;
    color: white;
}

.footer-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 1rem 10% 1rem 10%;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    background-color: #0D0D0D;
    color: white;
}

.footer-list a {
    text-decoration: none;
    color: white;
}


.footer-list a:hover {
    color: #A3B2BF;
}

.logo img {
    
    height: 25rem;
    border-radius: 50%;
}

.logo-and-form {
    display: flex;
}

.container {
    color: black;
}



.form {
    padding-top: 4rem;
}

/* .spacer {
    width: 20%;
}

.login-link {
    justify-content: flex-end;
   
} */ 