
/* Header Styles Begin */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.video-wrapper {
    background-color: black;
}

.video {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: black;
}

.header-wrapper {
    background-color: black;
}

.navigation {
    background-color: black;
    margin: 0px;
    padding: 0px;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

.nav-links-header {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 1rem 10% 1rem 10%;
    
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.nav-links-header a {
    text-decoration: none;
    color: white;
}


.nav-links-header a:hover {
    color: #A3B2BF;
}

.grey-dash {
    color: white;
}

.spacer {
    width: 20%;
}

.login-link {
    justify-content: flex-end;
   
}

/* END HEADER */
/* BEGIN ISSUE OF THE DAY */


.issue-of-the-day-margin {
    background-color: #365B73; 
}

.issue-of-the-day-wrapper {
    margin: 0 8%;
    padding: 0 2%;
    color: white;
}

.project-left {
    width: 50%;
}

.project-right {

}

.project-title {
    color: white;
    text-align:center;
    font-size: 2rem;
    font-weight: 400; 
    padding: 2rem 0rem;   
}

.project-of-the-day {
    display: flex;
}

.issue-of-the-day-image img {
    height: 19rem;
    padding-bottom: 2rem;
}

/* END ISSUE OF THE DAY */
/* BEGIN PROBLEM-SOLVING PROCESS */

.the-process-margin {
    background-color: #1A3540;
}

.the-process-wrapper {
    margin: 0% 8%;
    padding: 0 2%;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.the-process {    
}

.the-process-text {
    font-size: 2rem;
    text-align: center;
    padding-top: 2rem;
}

.box span {
    color: white;
}

.process-container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: 40rem;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px #1A3540;
  line-height: 0;
}

.box > img {
  width: 100%;
  height: calc(100% - 10vh);
  object-fit: cover; 
  transition: .5s;
}

.box > span {
  font-size: 3.8vh;
  display: block;
  text-align: center;
  height: 40rem;
  line-height: 2.6;

}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
  width: 100%;
  height: 80%;
  border-radius: 10%;
}
 
/* END PROBLEM-SOLVING PROCESS */

/* BEGIN NEXT WEEK ISSUES */

.next-week-issues-margin {
    background-color: #A3B2BF;
}

.next-week-issues-wrapper {
    margin: 0 8%;
    padding: 0 2%;
}

.next-week-issues {
    padding-top: 2rem;
}


/* BEGIN TIMELINE ANIMATION */
.upcoming-issues-image {
    width: 20rem;
    padding-left: 3rem;
}

.animation-text {
    text-align: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align:center;
  font-size: 2rem;
  color: white;
  font-weight: 400;
}

.timeline-animation {
    padding: 50px 0;
}

.timeline-animation li {
    position:relative;
  list-style-type: none;
  width: 6px;
  background-color: white;
  margin: 0 auto;
  padding-top: 50px;
}

.timeline-animation li::after {
  background: white;
  content: '';
  width: 25px;
  height: 25px;
  border-radius: 50%;
  position:absolute;
  left:50%;
  transform: translateX(-50%);
  bottom: 0;
}

.timeline-animation li div {
    position: relative;
  width: 400px;
  padding: 15px;
  border-radius: 5px;
  bottom: 0;
  background: rgba(42,50,113, .28);
}

.timeline-animation li:nth-child(odd) div {
    left: 45px;
}

.timeline-animation li:nth-child(even) div {
    left: -445px;
}

.animation-text {
    text-align: center;
}

time {
  font-weight: bold;
  font-size: 1.2rem;
  display: block;
  margin-bottom: 10px;
  text-align: center;
  
}

.timeline-animation li div {
    visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline-animation li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline-animation li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline-animation li.show div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .timeline-animation li div {
    width: 250px;
  }
  .timeline-animation li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

ul {
    margin: 0%;
}

/* END TIMELINE ANIMATION */
/* END NEXT WEEK ISSUES */

/* BEGIN STATS */

.stats-margin {
    background-color: #0D0D0D;
}

.stats-wrapper {
    margin: 0 8%;
    padding: 1.5rem 2% 1.5rem;
}

.stats {
    display: flex;
    justify-content: space-around;
    font-size: 1.3rem;
    padding-top: 1rem;
    color: white;
    font-weight: 600;
    padding-bottom: 1rem;
}

.stats-image-row {
    display: flex;
    max-height: 100%;
    height: 70%;
    
    
}

.stats-image-row div img {
    justify-content: space-around;
    border-radius: 10%;
}

.a {width: 180%;
    max-width: 180%;
    margin-right: 20%;
    margin-left: 39%;
}

.b {width: 100%;
    max-width: 35%;
    margin-left: 65%;
}

.c {width: 100%;
    max-width: 50%;
    margin-left: 35%;
}

.stats-numbers {
    display: flex;
    justify-content: space-around;
    font-weight: 400;
    font-size: x-large;
    color: white;
}

/* END STATS */
/* BEGIN USER MAP */

.user-map-margin {
    background-color: #B9CBD9;
}

.user-map-wrapper {
    margin: 0 8%;
    padding: 0 2%;
    height: 50rem;
}

.user-map {
    text-align: center;
    font-size: 1.3rem;
    padding: 1rem 0 1rem;
    font-family: 'Montserrat', sans-serif;   
}

.map {
    align-content: center;
    margin: 0 0 0 0;
    padding: 0 0 1rem;
    justify-content: center;
    height: 20rem;
      
}

/* END USER MAP */
/* BEGIN PAST PROJECTS */


.past-projects-margin {
    background-color: #1A3540;
}

.past-projects-wrapper {
    margin: 0 8%;
    padding: 0 2%;
}

.past-projects {
    
}

/* END PAST PROJECTS */
/* BEGIN SUGGESTION FORM */

.suggest-margin {
    background-color: #728EA6;
}

.suggest-wrapper {
    margin: 0 8%;
    padding: 0 2%;
}

.suggest {
    
}

/* END SUGGESTION FORM */
/* BEGIN FOOTER */

footer {
    background-color: black;
    font-family: 'Montserrat', sans-serif;

}

.footer-wrapper {
    margin: 0 8%;
    padding: 0 2%;
    background-color: black;
    color: white;
}

.footer-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 1rem 10% 1rem 10%;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
}

.footer-list a {
    text-decoration: none;
    color: white;
}


.footer-list a:hover {
    color: #A3B2BF;
}

.logo img {
    width: 80%;
    max-width: 100%;
    /* height: 25rem; */
    border-radius: 50%;
    padding: 0 0 1rem;
}

.logo-and-form {
    display: flex;
}

.container {
    color: black;
}



.form {
    padding-top: 4rem;
}

/* END FOOTER */